<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="DBConnection" connectionString="data source=DESKTOP-RUDASU2\SQLEXPRESS;Initial Catalog=UserBase;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>