@{
    ViewBag.Title = "UserBase";
}

<div class="jumbotron">
    <h1>UserBase</h1>
    <p class="lead">UserBase is a demo application showcasing modern best proactices for dynamic, data-driven websites.</p>
</div>

