@model UserBase.Models.UserModel
@using UserBase.Models

@{
    ViewBag.Title = "UserBase";
}

<div class="jumbotron">
    <h1>UserBase - list users</h1>
    <p class="lead">Here is a list of users.</p>

    @{  foreach(var user in Model.userRecords) 
        {
        <p>@Html.DisplayFor(x => user.FirstName) @Html.DisplayFor(x => user.LastName)</p>
        }
    }
</div>